<div class="pure-g-r center" xmlns="http://www.w3.org/1999/html">
    <!--Padding -->
    <div class="pure-u-1-5"></div>

    <div class="pure-u-3-5 panel" >
        <h1 style="padding: 10px;">Browse Sessions</h1>
        <form class="pure-form pure-form-aligned" action="javascript:browseSubmit()">
            <fieldset>
                <div class="pure-control-group">
                    <label for="browse-session-query">Query</label>
                    <input id="browse-session-query" type="text" placeholder="Search Query" class="pure-input-2-3" required />
                </div>

                <div class="pure-control-group">
                    <label for="browse-email">User Email</label>
                    <input id="browse-email" type="email" placeholder="Email Address" class="pure-input-2-3">
                </div>

                <div class="pure-control-group">
                    <label for="browse-order">Ordering</label>
                    <select id="browse-order">
                       <option value="acs">Ascending</option>
                       <option value="desc">Descending</option>

                    </select>
                </div>

                <div class="pure-controls">
                    <button id="browse-submit" type="submit" class="pure-button btn-success" >Submit</button>
                </div>
            </fieldset>
        </form>


    </div>
    <!--Padding -->
    <div class="pure-u-1-5"></div>

</div>