<!DOCTYPE html>
<html id="login">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AeroBal - UPRM Wind Tunnel System</title>

    <!-- Add CSS -->

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link rel="stylesheet" href="assets/css/aerobal.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="pure-g-r center">
    <div class="pure-u-1-5">
    </div>
    <div class="pure-u-3-5 login-box">
        <div style="margin:25px">
            <span class="login-header"><span class="aero">Aero</span><span class="bal">Bal</span></span>
            <br />
            <span id="subheader" class="login-header">UPRM Wind Tunnel System</span>
            <br />
        </div>
        <div id="container">
            <div class="btn-grid pure-g">
                <div class="btn-login pure-u">
                    <a id="btn-login" class="btn-size-item" href="#">
                      <span>Log-In</span>
                    </a>
                </div>
                <div class="btn-register pure-u">
                    <a id="btn-register" class="btn-size-item" href="#">
                        <span>Register</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="pure-u-1-5">
    </div>



</div>

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="assets/js/login.js"></script>
</body>
</html>