<div class="pure-g-r">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5 bg-panel">
        <!-- Main Panel -->
        <div class="white-panel" style="margin-top:50px">
            <div class="pure-g">
                <div class="pure-u-2-5">
                    <div style="margin: 0 auto; margin:10px 0px 10px 10px;"><h1>My Sessions</h1></div>
                </div>
                <div class="pure-u-2-5"></div>
                <div class="pure-u-1-5">
                    <a href="#"><img class="img-btn" src="assets/img/plusbtn.png" /></a>
                </div>

            </div>

        </div>
        <div class="white-panel" style="margin-top:25px">
            <div class="pure-g">
                <div class="pure-u-4-5" >
                    <div style="margin: 0 auto; margin:10px 0px 10px 10px;"><h1>Title</h1></div>
                    <p style="margin: 0 auto; text-align:justify; margin:10px 0px 10px 10px;">Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
                <div class="pure-u-1-5">
                    <a href="#"><img class="img-btn" src="assets/img/fwdbtn.png" /></a>
                </div>

            </div>

        </div>
        <div style="margin-top:50px">
            <div class="pure-g">
                <div class="pure-u-2-5">
                </div>
                <div class="pure-u-1-5 btn-success">
                    <a id="btn-register" class="btn-size-item flat-btn" href="#">
                        <span>More</span>
                    </a>
                </div>
                <div class="pure-u-2-5">
                </div>

            </div>

        </div>


    </div>
    <div class="pure-u-1-5"></div>
</div>