<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AeroBal - Dashboard</title>

    <link href="assets/css/pure-min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="assets/css/spinner.css" rel="stylesheet"   />
    <link href="assets/css/aerobal-navbar.css" rel="stylesheet" />
    <link href="assets/css/aerobal-main.css" rel="stylesheet" />
    <link href="assets/css/messageboxes.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Class -->
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">AeroBal</a>
        <ul>
            <li><a id="navbar-browse"   href="#" onclick="navbarBrowse()">Browse</a></li>
            <li><a id="main-sessions" href="#">My Sessions</a></li>
            <li><a id="navbar-settings" href="#" onclick="navbarSettings()">Settings</a></li>
            <li><a id="navbar-logout" href="/logout">Log-Out</a></li>
            <li class="home-search-bar"><form>
                <input id="navbar-search" type="text" class="form-control" placeholder="Search Sessions" >
            </form></li>
        </ul>
    </div>
</div>

<!-- Main Container -->
<div id="container">
    <div id="loader" class="white-panel center">
        <div class="loader">Loading...</div>
    </div>
</div>




<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="assets/js/constants.js"></script>
<script src="assets/js/dashboard.js"></script>
</body>
</html>
