@(name: String, email: String)
<div id="setting-container" class="pure-g-r center white-panel" >
    <!-- Padding -->
    <div class="pure-u-1-5  white-panel"></div>

    <div  class="pure-u-3-5  white-panel">
        <h1 class="title">Settings</h1>
        <br />
        <div class="bar-dark-blue">
            <span class="bar-text">Profile</span>
        </div>
        <form class="pure-form pure-form-aligned"  style="margin:10px;" action="javascript:updateProfile()">
            <fieldset>
                <div class="pure-control-group">
                    <label for="settings-name">Name</label>
                    <input id="settings-name" type="text" placeholder="Full name" class="pure-input-2-3" value="@name">
                </div>

                <div class="pure-control-group">
                    <label for="settings-email">Email Address</label>
                    <input id="settings-email" type="email" placeholder="Email Address" class="pure-input-2-3" value="@email">
                </div>

                <div class="pure-controls">
                    <button id="settings-profile-submit" type="submit" class="pure-button btn-success">Save</button><img id="settings-profile-loading" src="assets/img/small-spinner.gif" style="display:none;" />
                    <div id="settings-profile-error" class="error pure-input-2-3" style="margin:10px 10px 10px 0px; display:none;">Error</div>
                </div>
            </fieldset>
        </form>

        <div class="bar-dark-blue">
            <span class="bar-text">Password</span>
        </div>
        <form class="pure-form pure-form-aligned" style="margin:10px;" action="javascript:updatePassword()">
            <fieldset>
                <div class="pure-control-group">
                    <label for="settings-curr-password">Current Password</label>
                    <input id="settings-curr-password" type="password" placeholder="Current Password" class="pure-input-2-3">
                </div>

                <div class="pure-control-group">
                    <label for="settings-new-password">New Password</label>
                    <input id="settings-new-password" type="password" placeholder="New Password" class="pure-input-2-3">
                </div>

                <div class="pure-control-group">
                    <label for="settings-conf-new-password">Confirm New Password</label>
                    <input id="settings-conf-new-password" type="password" placeholder="Confirm New Password" class="pure-input-2-3">
                </div>

                <div class="pure-controls">
                    <button id="settings-password-submit" type="submit" class="pure-button btn-success">Save</button><img id="settings-password-loading" src="assets/img/small-spinner.gif" style="display:none;" />
                    <div id="settings-password-error" class="error pure-input-2-3" style="margin:10px 10px 10px 0px; display:none;">Error</div>
                </div>
            </fieldset>
        </form>


    </div>

    <!-- Padding -->
    <div class="pure-u-1-5  white-panel"></div>


</div>