<div id="setting-container" class="pure-g-r center" >
    <!-- Padding -->
    <div class="pure-u-1-5"></div>

    <div  class="pure-u-3-5 panel">
        <h1 style="margin: 10px;">Settings</h1>
        <div class="bar-light-green">
            <span class="bar-text">Profile</span>
        </div>
        <form class="pure-form pure-form-aligned"  style="margin:10px;">
            <fieldset>
                <div class="pure-control-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" placeholder="Full name" class="pure-input-2-3">
                </div>

                <div class="pure-control-group">
                    <label for="email">Email Address</label>
                    <input id="email" type="email" placeholder="Email Address" class="pure-input-2-3">
                </div>

                <div class="pure-controls">
                    <button type="submit" class="pure-button btn-success">Save</button>
                </div>
            </fieldset>
        </form>
        <div class="bar-dark-green">
            <span class="bar-text">Password</span>
        </div>
        <form class="pure-form pure-form-aligned" style="margin:10px;">
            <fieldset>
                <div class="pure-control-group">
                    <label for="settings-curr-password">Current Password</label>
                    <input id="settings-curr-password" type="password" placeholder="Current Password" class="pure-input-2-3">
                </div>

                <div class="pure-control-group">
                    <label for="settings-new-password">New Password</label>
                    <input id="settings-new-password" type="password" placeholder="New Password" class="pure-input-2-3">
                </div>

                <div class="pure-control-group">
                    <label for="settings-conf-new-password">Confirm New Password</label>
                    <input id="settings-conf-new-password" type="password" placeholder="Confirm New Password" class="pure-input-2-3">
                </div>

                <div class="pure-controls">
                    <button type="submit" class="pure-button btn-success">Save</button>
                </div>
            </fieldset>
        </form>

    </div>

    <!-- Padding -->
    <div class="pure-u-1-5"></div>


</div>