<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">capstone2014</property>
		<property name="hibernate.connection.url">jdbc:postgresql://162.243.4.162:5432/aerobal</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.default_schema">aerobal</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.use_sql_comments">false</property>
		<property name="hibernate.globally_quoted_identifiers">true</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<mapping resource="orm/ExperimentDto.hbm.xml"></mapping>
		<mapping resource="orm/RunDto.hbm.xml"></mapping>
		<mapping resource="orm/SessionDto.hbm.xml"></mapping>
		<mapping resource="orm/MeasurementDto.hbm.xml"></mapping>
		<mapping resource="orm/UserDto.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>